/* HEADER */

header{
	/* clear: both; */
	background-image: url('http://steamcommunity-a.akamaihd.net/public/shared/images/header/globalheader_bg.jpg' );
	background-color: #000000;
	border-bottom: 1px solid #4D4B48;
	background-position: center top;
	min-width: 940px;
	height: 104px;
}

header div#logout-panel{
	float: none;
	display: block;
	padding-top: 25px;
}

button#logout{
	background-color: #6b9730;
}

/* LOGIN */

#password-login{
	opacity: 0;
	font-size: 13px;
	font-weight: normal;
	color: red;
}

/* H2 */

#main-container div#connection-list-ui h2{
	clear: both;
	background-image: url('http://store.akamai.steamstatic.com/public/images/v5/store_header_gradients.png' );
	background-repeat: repeat-x;
	background-position: 0px -123px;
	height: 35px;
	padding: 7px 0px;
	border: none;
	background-color: black;
	padding-left: 20px;
	font-size: 18px;
	text-shadow: none;
	color: #e4e3e2;
}

/* games */

.game:hover{
	cursor: pointer;
}

#recent-connections #no-recent{
	color: #b8b6b4;
	opacity: 1;
	text-shadow: none;
}
.game img{
	width: 190px;
	height: 160px;
}

#all-games ul{
	display: -webkit-box;
	width: 240px;
	height: 190px;
	padding: 0;
	text-align: center;
	margin-bottom: 30px;
}

#game-dialog tr, #game-dialog{
	text-align: center;
}

#game-dialog button{
	background-color: #6b9730;
}

.connection .caption .name{
	color: #b8b6b4;
}

.game-connection img{
	width: 100%;
}

div#all-connections div.children div.connection.list-item{
	width: 20%;
	float: left;
	text-align: center;
}

.list-item .caption .name{
	color: #b8b6b4;
}

/* loading AJAX */

.modal {
    display:    none;
    padding-top: 15%;
    text-align: center;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 )
                50% 50%
                no-repeat;
}

/* main content */

body{
	color: #828282;
	background-color: black;
}

#main-container{
	margin: 0px auto;
	position: relative;
	width: 70%;
}

#connection-list-ui{
	margin-top: 30px;
}

#logout-panel{
	margin: 0px auto;
	width: 70%;
	color: #b8b6b4;
}

div#login-dialog tr th{
	text-shadow: none;
	font-weight: normal;
}

div#login-dialog #login-fields input{
	background-color: #82807c;
	color: #cdcac1;
}

div#login-dialog #login-fields input:focus{
	outline: none !important;
    border:1px solid #605f5c;
    box-shadow: 0 0 10px grey;
}

#no-cuenta{
	font-size: 12px;
	float: left;
}

#main-container input[type="submit"],#main-container button, #dialog button{
	background-color: #6b9730;
	background-image: none;
	padding-left: 0.5em;
	padding-right: 0.5em;
	font-size: 14px;

}

input[type="submit"]:hover, button:hover{
	cursor: pointer;
	background-color: #6b9730;
}

/* CONNECTION WAIT MESSAGE */
body .guac-error .dialog{
	background-color: #edffe1;
}


/* register dialog */

#popup-fog{
	height: 100%;
	width: 100%;
	background-color: black;
	left: 0px;
	top: 0px;
	position: absolute;
	z-index:100;
	opacity: 0.8;
	-moz-opacity: 0.8;
	filter: alpha(opacity=80);
	display: none;
}

#register-popup:hover{
	cursor: pointer;
	font-weight: bold;
}

#password-match{
	color: red;
	opacity: 0;
	font-size: 13px;
	font-weight: normal;
}

.ui-draggable .ui-dialog-titlebar{
	display: none;
}

.ui-dialog .ui-dialog-content{
	color: #828282;
	text-shadow: none;
	font-weight: normal;
	font-family: FreeSans, Helvetica, Arial, sans-serif;
}

.ui-widget #dialog input, .ui-widget #dialog select, .ui-widget #dialog textarea{
	background-color: #82807c;
	color: #cdcac1;
	font-family: FreeSans, Helvetica, Arial, sans-serif;
	font-size: 13px;
	font-weight: normal;
	letter-spacing: 1px;

}
.ui-widget input:focus{
	outline: none !important;
    border:1px solid #605f5c;
    box-shadow: 0 0 10px grey;
}

#dialog th{
	font-size: 16px;
	font-weight: normal;
	text-align: left;
}

/* webkit */

input:-webkit-autofill {
	-webkit-text-fill-color: #cdcac1;
    -webkit-box-shadow: 0 0 0 50px #82807c inset !important;
}

input:-moz-autofill {
    -moz-text-fill-color: #cdcac1;
    -moz-box-shadow: 0 0 0 50px #82807c inset !important;
}
input:-o-autofill {
    -o-text-fill-color: #cdcac1;
    -o-box-shadow: 0 0 0 50px #82807c inset !important;
}
input:-khtml-autofill {
    -khtml-text-fill-color: #cdcac1;
    -khtml-box-shadow: 0 0 0 50px #82807c inset !important;
}

input:focus:-webkit-autofill {
    -webkit-text-fill-color: #cdcac1;
    -webkit-box-shadow: 0 0 0 50px #82807c inset !important;
}
input:focus:-moz-autofill {
    -moz-text-fill-color: #cdcac1;
    -moz-box-shadow: 0 0 0 50px #82807c inset !important;
}
input:focus:-o-autofill {
    -o-text-fill-color: #cdcac1;
    -o-box-shadow: 0 0 0 50px #82807c inset !important;
}
input:focus:-khtml-autofill {
    -khtml-text-fill-color: #cdcac1;
    -khtml-box-shadow: 0 0 0 50px #82807c inset !important;
}